* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: yekan;
    src: url('../Fonts/IRANYekanRegular.ttf');
  }
  
  @font-face {
    font-family: yekanBold;
    src: url('../Fonts/IRANYekanExtraBlack.ttf');
  }
   
  body {
    font-family: yekan;
    overflow-x: hidden;
    background-color: #1e2130;
    margin: 0;
  }

  .modal {
    display: none;
    color: white;
    position: fixed; 
    z-index: 101; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    border: none;
    }

    a {
      color: black;
    }

  .modal-content {
      background-color: #1e2130;
      
      padding: 20px;
      background: #1e2130;
      
      width: 100%; /* Could be more or less, depending on screen size */
      
    }

  .modal-main {
      display: grid;
      grid-template-columns: auto ;
      justify-content: center;
      align-items: center;
      padding: 100px;
      grid-gap: 50px;
     }

    .modal-main2 button,.modal-main button {
        width: 366px;
        height: 48px;
        background: white;
        box-shadow: 0px 15px 20px rgb(240 56 97 / 12%);
        border-radius: 10px;
        color: #1e2130;
        font-family: yekan;
        border: none;
        transition: 1s;
        margin-top: 50px;
        z-index: 1;
        position: relative;
      }



  p {
      direction: rtl;
  }

  .overlay {
    background: #1e2130;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
    z-index: 101;
    overflow-y: hidden;
  }
  
  .overlay-content {
    position: relative;
    top: 41px;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    padding: 20px;
  }

  .logout:hover {
    opacity: 1;
  }
  
  .section7 h3 {
    opacity: 0.7;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus ,.home-page #home-tag,.genre  #genre-tag,.series-page #series-tag,.animations-page #animations-tag,.movies-page #films-tag{
    color: white;
    border-right: solid 3px #1f6cf0;
  }

  .movies-page .popular-title {
    text-align: center !important;
    justify-content: center !important;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay::-webkit-scrollbar {
    display: none;
  }

  .modal::-webkit-scrollbar {
    display: none;
  }

  .si1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    z-index: 1;
    width: 50px;
    
  }
  
  .closebtn:hover {
    border-right: none !important;
  }


  input:focus , button:focus {
    outline: none;
  }

  .popular-items h4 {
    color: white;
  }

  .header {
    
    display: grid;
    width: 100%;
    padding: 0 10%;
    grid-template-columns:  auto auto auto auto;
    grid-gap: 5%;
    justify-content: space-between;
    align-items: center;
  }

  .movies-page .header, .profile-page .header {
    background: rgb(41,39,60);
    background: radial-gradient(circle, rgba(41,39,60,1) 0%, rgba(0,0,0,1) 100%);
  }

  .burger-menu svg{
    width: 30px;
    height: 30px;
  }

  .burger-menu {
    display: none;
  }

  .header button, .sign-card button {
    width: 130px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan;
    font-family: yekan;
    border-radius: 46px;
    color: white;
    background-color: #29273c;
    border: 1px solid dimgray;
    transition: 1s;
  }

  .sub-btn button {
    background-color: #3984e3;
    color: white;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan;
    width: 50%;
    border-radius: 46px;
    border: none;
    transition: 1s;
  }

  .sub-btn button:hover {
    background-color: green;
  }

  .sign-card button span {
    font-family: yekan;
    font-size: 10px;
  }

  .movie-info a {
    color: white;
    direction: rtl;
  }



  .series-page #series,.animations-page #animations,.movies-page #movies {
    opacity: 1;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .menu p {
    color: white;
    opacity: 0.4;
  }

  .menu p:hover {
    opacity: 1;
  }

 .popular-items h3 {
   text-align: center;
 }

 .pagination {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 50px;
 }

 .pag-btn {
   color: white;
 }

 .disabled {
   opacity: 0.4;
 }

  .header button:hover, .sign-card button:hover {
    background-color: white;
    color: #1e2130;
  }

  .search {
    position: relative;
    width: 450px;
    height: 40px;
  }

  .search input {
    width: 450px;
    height: 40px;
    font-family: yekan;
    border-radius: 46px;
    color: white;
    background-color: inherit;
    border: 1px solid dimgray;
    direction: rtl;
    padding-right: 40px;
    background-color: #29273c;
  }

  .search input::placeholder {
    color: dimgray;
  }

  .search img {
    position: absolute;
    top: 9px;
    right: 12px;
  }

  .logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
  }

  .logo img {
    width: 60px;
  }

  .home-main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 30px;
  }

  .navbar {
    padding: 30px;
  }

  .profile-header h3 {
    color: white;
    opacity: 0.5;
    margin-top: -20px;
  }

  .profile-bar {
    background-color: #1f6cf0;
    border-radius: 14px;
  }

  .pro-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 44px;
    border-bottom: 1px solid #ededed;
    text-align: center;
  }

  .pro-info h4 {
    color: white;
  }

  .pro-info p {
    color: white;
    opacity: 0.4;
    margin-top: -21px;
  }

  .pro-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .pro-pic {
    height: 50px;
  }

  .wallet-logo svg path {
    fill: white;
  }

  .pro-cash {
    padding: 0 20px ;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
  }

  .add-money {
    background-color: white;
    width: 38px;
    height: 44px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .acc-money {
    text-align: right;
  }

  .acc-money p {
    opacity: 0.4;
    color: white;
  }

  .acc-money h4 {
    direction: rtl;
    color: white;
    margin-top: -20px;
  }

  .wallet-logo {
    background-color: dimgray;
    height: 50px;
    width: 50px;
    opacity: 0.6;
    background-color: #3984e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wallet-logo img {
    width: 30px;
    height: 30px;
  }

  .nav-items {
    padding-top: 50px;
  }

  .nav-item , .logout{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: right;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    color: white;
    opacity: 0.4;
    padding: 0 40px;
    margin-top: 20px;
    transition: 0.3s ;
  }

  .nav-item svg path {
    fill: white;
    transition: 1s;
  }

  .logout {
    opacity: 0.6;
    color: red;
    margin-top: 100px;
  }

  .logout svg path {
    fill: red;
  }

  .nav-item svg, .logout svg {
    width: 30px;
    height: 30px;
  }

  .subscription {
    padding: 10px;
    text-align: center;
    background-color: #29273c;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgb(240 56 97 / 12%);

  }

  .subscription img {
    width: 100%;
    height: 65%;
    border-radius: 20px;
  }

  .celeb-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
  }

  .sub-info {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #celeb {
    color: white;
  }

  .sub-info h3 {
    color: #3984e3 !important;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    align-items: center;
  }

  .sub-info h2 {
    color: white;
  }

  .sub-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    padding:  30px;
  }

  .sub-header {
    padding: 50px 25%;

  }

  .sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .sub-page .sub-info {
    justify-content: space-evenly;
  }

  
  

  .nav-item:hover {
    color: white;
    opacity: 1;
    background-color: #29273c;
    border-right: 5px solid #3984e3;
  }

  .home-page #navhome,.bookmark #navbook, #searchPage #navhome,.genre #navgen,.actors #navact {
    color: white;
    opacity: 1 !important;
    background-color: #29273c;
    border-right: 5px solid #3984e3 !important;
  }

  #navgen img {
    width: 30px;
    height: 30px;
  }

  #navact img {
    width: 40px;
    height: 40px;
  }

  .home-page #navhome svg path, .bookmark #navbook svg path {
    fill: #3984e3 !important;
  }

  .embla {
    position: relative;
    background-color: #f7f7f7;
    width: 750px;
    justify-self: center;
    height: 480px;
    border-radius: 20px;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    background: #29273c;
    border: 0.5px solid dimgray;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
    border-radius: 20px;
    
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    background: #29273c;
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
    border-radius: 20px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
    border-radius: 20px;
    background: #29273c;
  }
  
  .embla__slide__inner {
    background: #29273c;
  
    position: relative;
    overflow: hidden;
    height: 480px;
    border-radius: 20px;
  }

  .main-content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 300px;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    object-fit: none;
    object-position: center;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #1e2130;
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }

  .embla__button__svg  path {
    fill: white;
  }
  
  .embla__button--prev {
    left: 27px;
  }
  
  .embla__button--next {
    right: 27px;
  }
  

  .popular-item #pop-mov{
    width: 130px;
    height: 185px;
    border-radius: 10px;
  }

  .popular {
    padding: 100px;
  }

  .popular h3,.popular h1 {
    color: white;
    direction: rtl;
    padding:  30px;
  }
  
  .popular-title {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
  }

  .popular-title p {
    opacity: 0.4;
    color: white;
  }

  .popular-title p:hover {
    opacity: 1;
  }

  .main-content {
    border-right: 1px solid dimgray;
  }

  .popular-items {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px ;
    justify-content: center;
    align-items: baseline;
    grid-gap: 20px;
  }

  .popular-item h4 {
    color: white;
    margin-top: -5px;
  }

  .rating {
    display: flex;
    align-items: center;
    margin-top: -20px;
  }

  .rating img {
    width: 17px;
  }

  .rating p {
    font-size: 14px;
    color: #c0a648;
    margin: 4px 0 0 5px;
  }

  #success {
    color: green;
  }

  #movie-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    z-index: -1;
    filter: blur(5px);
    border-radius: 0 20px 20px 0;
  }

  .movie-background {
    position: relative;
  }

  a {
    text-decoration: none;
  }

  .movie-info #two {
    max-width: 400px;
    text-align: justify;
    flex-direction: column;
  }

  .movie-info {
    direction: rtl;
  }

  #ltr {
    direction: ltr;
  }

  .movies-info {
    padding: 50px ;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    align-items: self-start;
    grid-gap: 50px;
  }

  .actors-list {
    margin-top: 100px;
    text-align: center;
    color: white;
  }

  .movies-pic img {
    width: 300px;
    height: 440px;
  }

  .movies-text h1 {
    color: white;
  }

  .movies-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: right;
    align-items: center;
    color: white;
    margin-top: -10px;
  }

  .movies-nav a {
    color: white;
    font-size: 13px;
    opacity: 0.4;
  }

 .movie-info #two,.movie-info #three,.movie-info #four {
    display: none;
    color: white;
    direction: rtl;
    font-size: 13px;
  }

  #one {
    display: block ;
    font-size: 13px;
    color: white;
    opacity: 1;
  }



  .movies-nav a:hover {
    opacity: 1 !important;
  }

  .movies-btns {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    direction: rtl;
    align-items: center;
    margin-top: 40px;
    grid-gap: 20px;
  }

  #movieInfo {
    margin: 20px 15%;
    padding: 0;
  }

 

  video {
    width: 100vw;
    height: 100vh;
  }

  .movies-text {
    text-align: right;
  }

  .movies-btns button {
    border: none;
    background-color: #1e2130;
    color: white;
    font-family: yekan;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    transition: 0.5s;
  }

  .movies-btns button:hover {
    color: #29273c;
    background-color: white;
  }

  .movies-btns span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1f6cf0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
  }

  .movies-btns span:hover {
    opacity: 1;
  }

  .movies-btns img {
    width: 30px;
    height: 30px;
    
  }

  .movies-page .popular-title, .bookmark .popular-title,.searchPage .popular-title, .profile-page .popular-title {
    justify-content: right;
    padding-right: 50px;
  }

  .bookmark .popular,.searchPage .popular {
    border-right: 1px solid dimgray;
  }

  #two ,#three, #four {
    display: flex;
    align-items: center;
  }

  .footer {
    width: 100%;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -1px 4px rgb(26 26 26 / 4%);
    backdrop-filter: blur(80px);
    background: rgb(41,39,60);
background: radial-gradient(circle, rgba(41,39,60,1) 0%, rgba(0,0,0,1) 100%);
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
  }



  .footer svg path {
    fill: white;
  }

  .footer svg {
    width: 30px;
    height: 30px;
  }

  .footer-spec {
    width: 100%;
  }

  .fs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-spec1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: rgb(31,108,240);
    background: radial-gradient(circle, rgba(31,108,240,1) 0%, rgba(30,33,48,1) 100%);
  }

  .footer-spec2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -1px 4px rgb(26 26 26 / 4%);
    backdrop-filter: blur(80px);
    opacity: 0.4;
    background-color: black;
    height: 100px;
  }


  .profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    
  }

  .profile-pic {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(121,9,57,1) 88%, rgba(185,46,145,1) 100%);
  }

  .profile-pic img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
  }

  .profile-header h1 {
    color: white;
    
  }

  .profile-info,.edit-profile {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .pi1 {
    color: white;
    text-align: center;
  }

  #pi {
    opacity: 0.5;
  }

  #celebBox {
    width: 180px;
    height: 200px;
  }

  .edit-info,.add-cart,.subscribe {
    width: 130px;
    height: 200px;
    text-align: center;
    border-radius: 60px;
    color: white;
    box-shadow: 0px 15px 20px rgb(240 56 97 / 12%);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
  }

  .edit-info .ei-img {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }

  .add-cart .ei-img {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .subscribe .ei-img {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }



  .edit-profile {
    margin-top: 50px;
    padding-bottom: 100px;
  }

 

  .ei-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }

  .ei-img img {
    width: 60px;
  }

  .subscribe .ei-img img {
    width: 50px;
  }

  #logout-btn {
    
    color: red;
    border: 1px solid red;
  }

  #logout-btn:hover {
    background-color: red;
    color: white;
  }

  .sign-in {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #success {
    color: green;
  }

  #fail {
    color: red;
  }

  .sign-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(41,39,60,1) 0%, rgba(0,0,0,1) 100%);
    width: 30vw;
    height: 300px;
    box-shadow: 0px 15px 20px rgb(240 56 97 / 12%);
    
  }

  .sign-card input {
    font-family: yekan;
    width: 50%;
    border-radius: 20px;
    padding:  10px;
    direction: rtl;
    border: none;
  }

  #signup {
    height: 500px;
    margin-bottom: 100px;
  }

  .sign-card p {
    color: white;
    margin: 0;
  }

  .sign-card p a {
    color: #1f6cf0;
  }

  .sign-card p a:hover {
    color: #3984e3;
  }

  @media only screen and (max-width: 1300px) {
   
    .popular {
      padding: 45px;
    }

  

    .popular-items {
      grid-template-columns: 130px 130px 130px 130px;
    }

    .navbar {
      padding: 10px;
    }

    .embla {
      width: 95%;
    }

    .search , .search input {
      width: 270px;
    }

    

    .header {
      grid-gap: 20px;
      padding: 0 3%;
    }
  }
  
  @media only screen and (max-width: 922px) {
    .navbar,.menu {
      display: none;
    }

    .celeb-list {
      grid-template-columns: auto auto auto;
    }

    .sub-list {
      grid-template-columns: auto auto;
    }

    #logout-btn {
      display: none;
    }

    .movies-pic {
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #movie-background {
      height: 1117px;
    }

    .movies-text {
      padding-bottom: 100px;
    }

    .search input {
      width: 350px;
      padding: 10px;
    }

    .search img {
      display: none;
    }

    .home-main {
      grid-template-columns: auto;
    }
    

    .header #hbtn {
      display: none;
    }

    .movies-info {
      grid-template-columns: auto;
    }

    .footer {
      display: grid;
    }

    .burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid dimgray;
    }

    .logo {
      font-size: 20px;
    }

    .modal-main {
      padding: 0 50px;
      grid-gap: 0;
    }

  

    .popular-items {
      grid-template-columns: 130px 130px 130px;
    }

    .search {
      width: auto;
      height: auto;
    }

    .header {
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      padding: 0 30px;
    }

    .modal-content {
      height: 200%;
      
    }

    .modal-main {
      justify-content: center;
     }

     .embla {
       width: 590px;
     }

     .sign-card {
       width: 50vw;
     }

     .movie-background {
      display: none;
    }

     


  }

  @media only screen and (max-width: 600px) {
    .popular-items {
      grid-template-columns: 130px 130px;
      grid-gap: 40px;
    }

    #movieInfo {
      margin: 20px 5%;
    }

    .movies-pic img {
      width: 250px;
      height: 350px;
    }

    .search input {
      width: 250px;
    }

    .celeb-list {
      grid-template-columns: auto auto;
    }

    .sign-card {
      width: 70vw;
    }

    .header {
      justify-content: center;
    }

    .embla {
      width: 400px;
      justify-self: center;
    }

     .popular {
      padding: 100px 0;
    }

    .sub-list {
      grid-template-columns: auto;
    }

    
  }

  @media only screen and (max-width: 400px) {

    .modal-main h3 {
      font-size: 16px;
      text-align: center;
    }

    .search input {
      width: 141px;
    }

    .celeb-list {
      grid-template-columns: auto;
    }

    

    .modal-main button {
      width: 300px;
    }

    .si1 p {
      font-size: 12px;
    }
    .embla {
      width: 300px;
    }
    .edit-info, .add-cart, .subscribe {
      width: 100px;
      font-size: 12px;
    }

    .pi1 {
      font-size: 12px;
    }

    .movies-pic img {
      width: 150px;
      height: 250px;
    }
  }